* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    perspective: 100vh;
    position: relative;
    background-color: black;
    color: yellow;
}

.wfeed {
    position: absolute;
    /* top: -10vh; */
    bottom: 0;
    left: 32vw;
    overflow: hidden;
    width: 35vw;
    height: 160vh;
    margin-inline: auto;
    font-family: sans-serif;
    font-size: 50px;
    transform: rotateX(55deg);
}

.wstory {
    margin-top: 160vh;
    animation-duration: 60s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: crawl;
}



@keyframes crawl {
    from {
        margin-top: 160vh;
    }
    to {
        margin-top: -160vh;
    }
}



.wstorytitle {
    margin-bottom: 4vh;
    text-align: center;
}



.wstorytext {
    margin-bottom: 2vh;
    text-align: justify;
}

